import mysql.connector
from mysql.connector import Error
uvicorn
fastapi[standard]
typing
pydantic
# pymongo
# dnspython
# mysqlclient
mysql-connector-python
DBHOST = "ds2022.cqee4iwdcaph.us-east-1.rds.amazonaws.com"
DBUSER = "ds2022"
DBPASS = os.getenv('DBPASS')
DB = "sbx3sw"
db = mysql.connector.connect(user=DBUSER, host=DBHOST, password=DBPASS, database=DB)
cur=db.cursor()

